.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1560966638-744df0fe1249?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80)
      no-repeat center / cover;
  width: 100%;
  background-attachment: fixed;
  padding-top: 100px;
  h1 {
    @include containerHeading();
    font-size: 30px;
    margin-top: 10px;
  }
  .box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: 550;
    a {
      color: #fff;
      font-size: 14px;
      display: flex;
      gap: 10px;
      font-weight: 400;
      height: 20px;
      &:hover {
        color: $yellow;
      }
    }
    .cart {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        color: $white;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          line-height: 20px;
          transition: all 0.2s ease-in-out;
          right: 0;
          &:hover {
            transform: translateX(4px);
          }
        }
        i {
          color: $yellow;
          width: 20px;
          height: 20px;
          line-height: 20px;
          display: flex;
          align-items: center;
          font-size: 14px;
          gap: 10px;
        }
      }
    }
  }
  .link {
    text-align: center;
    color: #fff;
    margin-top: 200px;
    padding-bottom: 10px;
    a {
      color: $yellow;
    }
  }
}
