.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top right, #ff6000, #f2921d, #ff6000);
  // background-color: transparent;
  line-height: 100px;
  box-shadow: 5px 10px 18px #000000;
  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;

    .navigation {
      display: flex;
      align-items: center;
      gap: 30px;

      &-link {
        color: $black;
        font-size: 18px;
        position: relative;
        font-weight: bold;
      }
      &-link::after {
        content: "";
        position: absolute;
        width: 0;
        bottom: 38px;
        left: 0;
        height: 1px;
        background-color: $black;
        transition: linear 0.15s;
      }
      &-link:hover::after {
        width: 100%;
      }

      &-img {
        img {
          width: 80px;
          height: 100px;
          object-fit: cover;
        }
      }
    }

    i {
      font-size: 24px;
      color: $black;
    }

    i:hover {
      scale: 1.05;
    }

    i:active {
      scale: 0.95;
    }
  }
}
