$yellow: #eacf4f;
$orage-yeloow: #ffc23c;
$white: #fff;
$black: #000;
$light-color: #aaa;
$border: 2rem solid rgba(255, 255, 255, 0.3);
$blue: #0e8388;
$red: #ea5455;
$orange: #ff6000;
$linear-orage: linear-gradient(to top right, #ff6000, #f2921d, #ff6000);
